<<<<<<< HEAD
body { text-align: center;
font-size:16px;
font-family:arial;
}

a{
	text-decoration: none;
background-color:grey;
border:2px solid black;
}

a.link, a.visited,a.hover, a.active 
=======
body {
 align-content: center; 
font-size: 130%
}
>>>>>>> adfe0152f5399bac25ed92c92fce44d6486e4f0f
